### Unity（匹配任意层级）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emory[Cc]aptures/
[Rr]ecordings/

!**/[Aa]ssets/**/*.meta

### 自动生成工程文件
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs

### 构建产物
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.ipa

### 资源包内容
Bundles/
Bundles/CDN/
Bundles/CDN/Android/
Bundles/CDN/iOS/
Bundles/CDN/macOS/
Bundles/CDN/WebGL/
Bundles/CDN/Windows/
Bundles/CDN/Linux/
Bundles/CDN/Android/
Bundles/CDN/iOS/
Bundles/CDN/macOS/
Bundles/CDN/WebGL/
Bundles/CDN/Windows/
Bundles/CDN/Linux/
